@font-face {
    font-family: "Raleway";
    src: url(/Raleway/Raleway-VariableFont_wght.ttf);
  }

:root {
   font-family: "Raleway";
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  height: 15vh; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.information--declaration {
  font-size: 2rem;
}

.container {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.gameboard {
  width: 60vh; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.gameboard--button {
  height: 20vh; 
  width: 20vh; 
  font-size: 4rem;
}